services:
  api_server:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: api_server
    image: zenith-image:latest
    ports:
      - "8000:8000"
    env_file:
      - .env
    networks:
      - public
      - internal
    depends_on:
      qdrant:
        condition: service_healthy
      db:
        condition: service_healthy
      mlflow:
        condition: service_started

  qdrant:
    image: qdrant/qdrant:latest
    container_name: zenith_qdrant
    restart: always
    ports:
      - "6333:6333"
      - "6334:6334"
    expose:
      - 6333
      - 6334
      - 6335
    volumes:
      - ./data/qdrant_data:/qdrant/storage
    healthcheck:
      test: ["CMD-SHELL", "echo -e || exit 1"]
      interval: 20s
      timeout: 10s
      retries: 5
      start_period: 40s
    networks:
      - internal
      - public
    env_file:
      - .env

  db:
    image: postgres:15
    container_name: zenith_db
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - internal
      - public

  s3:
    image: minio/minio:latest
    restart: unless-stopped
    container_name: zenith_s3
    ports:
      - "9002:9000"
      - "9001:9001"
    env_file:
      - .env
    environment:
      - MINIO_ROOT_USER=${AWS_ACCESS_KEY_ID}
      - MINIO_ROOT_PASSWORD=${AWS_SECRET_ACCESS_KEY}
    command: server /data --console-address ":9001"
    networks:
      - internal
      - public
    volumes:
      - minio_new_volume:/data
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -f http://localhost:9000/minio/health/live || exit 1",
        ]
      interval: 10s
      timeout: 5s
      retries: 5

  mc_setup:
    image: minio/mc
    container_name: mc_setup
    restart: "no"
    networks:
      - internal
    env_file:
      - .env
    depends_on:
      s3:
        condition: service_healthy
    entrypoint: >
      sh -c "
        echo 'Waiting for MinIO...';
        sleep 5;
        mc alias set myminio http://s3:9000 ${AWS_ACCESS_KEY_ID} ${AWS_SECRET_ACCESS_KEY};
        mc mb --ignore-existing myminio/mlartifacts;
        mc policy set download myminio/mlartifacts;
        echo 'Bucket mlartifacts created and policy set.';
      "

  mlflow:
    build:
      context: ./docker
      dockerfile: mlflow.Dockerfile
    container_name: zenith_mlflow
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "5050:5000"
    networks:
      - public
      - internal
    depends_on:
      mlflow_db:
        condition: service_healthy
      mc_setup:
        condition: service_completed_successfully
    entrypoint: >
      mlflow server 
      --host 0.0.0.0 
      --artifacts-destination s3://mlartifacts 
      --backend-store-uri postgresql://${MLFLOW_DB_USER}:${MLFLOW_DB_PASSWORD}@mlflow_db:5432/${MLFLOW_DB_NAME}
      --allowed-hosts "*"
      --cors-allowed-origins "*"

  mlflow_db:
    image: postgres:16
    container_name: zenith_mlflow_db
    restart: always
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${MLFLOW_DB_USER}
      - POSTGRES_PASSWORD=${MLFLOW_DB_PASSWORD}
      - POSTGRES_DB=${MLFLOW_DB_NAME}
    ports:
      - "5435:5432"
    volumes:
      - ./data/mlflow_db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${MLFLOW_DB_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - internal

networks:
  internal:
    driver: bridge
  public:
    driver: bridge

volumes:
  minio_new_volume:
