services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    restart: always
    ports:
      - "6333:6333"
      - "6334:6334"
    expose:
      - 6333
      - 6334
      - 6335
    volumes:
      - ./data/qdrant_data:/qdrant/storage
    healthcheck:
      test: ["CMD-SHELL", "echo -e || exit 1"]
      interval: 20s
      timeout: 10s
      retries: 5
      start_period: 40s
    networks:
      - internal
      - public
    env_file:
      - .env

  db:
    image: postgres:15
    container_name: local_postgres
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres_data:/var/lib/postgresql/data

networks:
  internal:
    driver: bridge
  public:
    driver: bridge
