services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    restart: always
    ports:
      - "6333:6333"
      - "6334:6334"
    expose:
      - 6333
      - 6334
      - 6335
    volumes:
      - ./data/qdrant_data:/qdrant/storage
    healthcheck:
      test: ["CMD-SHELL", "echo -e || exit 1"]
      interval: 20s
      timeout: 10s
      retries: 5
      start_period: 40s
    networks:
      - internal
      - public
    env_file:
      - .env

  reranker:
    image: ghcr.io/huggingface/text-embeddings-inference:cpu-1.5
    platform: linux/amd64
    container_name: reranker-service
    restart: always
    ports:
      - "8080:80"
    volumes:
      - ./data/model_data:/data
    command:
      - --model-id
      - BAAI/bge-reranker-v2-m3
      - --port
      - "80"
    networks:
      - internal
      - public

networks:
  internal:
    driver: bridge
  public:
    driver: bridge
